/* HEADER */

.header {
  min-height: 293px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  padding-left: 50px;
  gap: 36px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 391px;
  padding-bottom: 8px;
}

.header__link {
  list-style-type: circle;
  padding-right: 3px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link:first-child {
  list-style: none;
}

.header__logo-link {
  display: block;
  max-width: 140px;
  padding-left: 4px;
  max-height: 107px;
  padding-bottom: 7px;
}

.header__contacts {
  max-width: 240px;
  line-height: 24.3px;
  padding-left: 4px;
  padding-bottom: 6px;
}

/* HEADER END */

/* COVER */

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  font-size: 100px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  letter-spacing: 30px;
  line-height: 115%;
  text-transform: uppercase;
  min-width: 1100px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  padding-top: 55px;
}

.align-start {
  margin-top: 4px;
  padding-left: 50px;
}

.align-center {
  align-self: center;
  margin-top: 20px;
  padding-left: 30px;
}

.align-end {
  align-self: flex-end;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.description {
  z-index: 1;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.description__title {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  min-width: 637px;
  text-align: justify;
  text-align-last: justify;
}

.description__button {
  min-width: 256px;
  min-height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

/* END COVER */
/* LOTS */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 179px;
}

.lots__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 64px;
  margin-bottom: 28px;
  align-self: flex-start;
}

.lots__list {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

/* LOTS CARD STYLE */
.lots__list-element {
  min-width: 334px;
  min-height: 596px;
  position: relative;
}

.lots__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}

.lots__list-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.lots__list-element-title {
  max-width: 254px;
  line-height: 1.2;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  z-index: 1;
}

.lots__list-element--first {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.lots__list-element--second {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.lots__list-element--third {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.lots__list-element-description {
  max-width: 256px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
}

.lots__link {
  text-decoration: underline;
  font-size: 20px;
  font-weight: normal;
  text-underline-offset: 4px;
  padding-left: 64px;
  color: black;
  align-self: flex-start;
}
/* END LOTS CARD STYLE */

/* END LOTS */

/* ABOUT */

.about {
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 24px;
}

.about__header {
  display: flex;
  align-items: center;
  padding-left: 70px;
  gap: 72px;
  width: 100%;
}

.about__logo-wrapper {
  min-width: 240px;
  min-height: 240px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo {
  max-width: 148px;
  max-height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 312px;
  align-items: flex-end;
  gap: 18px;
}

.about__text {
  max-width: 693px;
  line-height: 24px;
  font-size: 20px;
  font-weight: normal;
  padding-top: 7px;
}

/* ABOUT END */

/* FOOTER */

.footer {
  margin-top: 163px;
  font-size: 18px;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  min-height: 180px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  line-height: 24.3px;
  align-self: self-start;
  padding-top: 16px;
}

.footer__nav {
  padding-top: 16px;
  width: 100%;
  height: 100%;
}

.footer__nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__networks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  gap: 48px;
  padding-left: 25px;
}

.networks__element {
  max-width: 48px;
  height: auto;
}

/* FOOTER END */

/* ABOUT END */

/* Common styles for some blocks */
.link--active {
  text-decoration: none;
}

.contacts-links {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* END Common styles for some blocks */
